In [29]:
import os
import urllib.request
import pandas as pd

In [30]:
print(os.getcwd())

for dir in os.listdir("..") :
    print(dir)

/home/ayan/Desktop/Python_for_DS
LS-Tools-for-Cyber-Security
Work
picoctf
LS-Introduction-to-Digital-Forensics
neuralnetworksanddeeplearning.com
LS-Neural-Networks-NLP
Python_for_DS
.ipynb_checkpoints

In [31]:
#if it is set to true here then it will not return an error even if the directory already exists by default it is set to false
os.makedirs("./data",exist_ok=True) 
os.listdir("./data")

['trial.txt']

In [32]:
with open("./data/trial.txt" , "r") as file :
    lines=file.readlines()
    print(lines[1].strip())

in the most simple terms complicit. Do we have another planet to live on? Unfortunately, we

In [33]:
l1=[1,2,3,4,5,6,7,8,9]
l2=[8,6,4,2,7,5,1,6,0]
l3=[]
for item in zip(l1,l2,l1) : #this function groups together multiple lists in one tuple
    l3.append(item)
print(l3)

[(1, 8, 1), (2, 6, 2), (3, 4, 3), (4, 2, 4), (5, 7, 5), (6, 5, 6), (7, 1, 7), (8, 6, 8), (9, 0, 9)]

In [34]:
population_data=pd.read_csv("./NDAP_REPORT_6000.csv")

In [35]:
population_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 606678 entries, 0 to 606677
Data columns (total 99 columns):
 #   Column                                                                                 Non-Null Count   Dtype
---  ------                                                                                 --------------   -----
 0   ROWID                                                                                  606678 non-null  int64
 1   Country                                                                                606678 non-null  object
 2   State lgd code                                                                         606678 non-null  int64
 3   State                                                                                  606678 non-null  object
 4   District lgd code                                                                      606678 non-null  int64
 5   District                                                                               606678 non-null  object
 6   Sub-District lgd Code                                                                  606678 non-null  int64
 7   Sub-District                                                                           606678 non-null  object
 8   ULB_RLB_Village lgd Code                                                               606678 non-null  int64
 9   ULB_RLB_Village                                                                        606678 non-null  object
 10  Rural or Urban                                                                         606678 non-null  object
 11  Households                                                                             606678 non-null  int64
 12  Population                                                                             606678 non-null  int64
 13  Male population                                                                        606678 non-null  int64
 14  Female population                                                                      606678 non-null  int64
 15  Population in the age group 0 to 6 years                                               606678 non-null  int64
 16  Male Population in the age group 0 to 6 years                                          606678 non-null  int64
 17  Female Population in the age group 0 to 6 years                                        606678 non-null  int64
 18  Scheduled Caste population                                                             606678 non-null  int64
 19  Male Scheduled Caste population                                                        606678 non-null  int64
 20  Female Scheduled Caste population                                                      606678 non-null  int64
 21  Scheduled Tribe population                                                             606678 non-null  int64
 22  Male Scheduled Tribe population                                                        606678 non-null  int64
 23  Female Scheduled Tribe population                                                      606678 non-null  int64
 24  Literate population                                                                    606678 non-null  int64
 25  Male literate population                                                               606678 non-null  int64
 26  Female literate population                                                             606678 non-null  int64
 27  Illiterate population                                                                  606678 non-null  int64
 28  Male illiterate population                                                             606678 non-null  int64
 29  Female illiterate population                                                           606678 non-null  int64
 30  Working population                                                                     606678 non-null  int64
 31  Male working population                                                                606678 non-null  int64
 32  Female Woking population                                                               606678 non-null  int64
 33  Number of main workers                                                                 606678 non-null  int64
 34  Number of male main workers                                                            606678 non-null  int64
 35  Number of female main worker                                                           606678 non-null  int64
 36  Number of main workers as cultivators                                                  606678 non-null  int64
 37  Number of male main workers as cultivators                                             606678 non-null  int64
 38  Number of female main workers as cultivators                                           606678 non-null  int64
 39  Number of main workers as agricultural labourers                                       606678 non-null  int64
 40  Number of male main workers as agricultural labourers                                  606678 non-null  int64
 41  Number of female main workers as agricultural labourers                                606678 non-null  int64
 42  Number of main workers in the household industry                                       606678 non-null  int64
 43  Number of male main workers in the household industry                                  606678 non-null  int64
 44  Number of female main workers in the household industry                                606678 non-null  int64
 45  Number of  main workers as Other workers                                               606678 non-null  int64
 46  Number of male main workers as Other workers                                           606678 non-null  int64
 47  Number of female main workers as Other workers                                         606678 non-null  int64
 48  Number of marginal workers                                                             606678 non-null  int64
 49  Number of male marginal workers                                                        606678 non-null  int64
 50  Number of female marginal workers                                                      606678 non-null  int64
 51  Number of marginal workers as cultivators                                              606678 non-null  int64
 52  Number of male marginal workers as cultivators                                         606678 non-null  int64
 53  Number of female marginal workers as cultivators                                       606678 non-null  int64
 54  Number of marginal workers as agricultural labourers                                   606678 non-null  int64
 55  Number of male marginal workers as agricultural labourers                              606678 non-null  int64
 56  Number of female marginal workers as agricultural labourers                            606678 non-null  int64
 57  Number of marginal workers in the household industry                                   606678 non-null  int64
 58  Number of male marginal workers in the household industry                              606678 non-null  int64
 59  Number of female marginal workers in the household industry                            606678 non-null  int64
 60  Number of marginal workers as Other workers                                            606678 non-null  int64
 61  Number of male marginal workers as Other workers                                       606678 non-null  int64
 62  Number of female marginal workers as Other workers                                     606678 non-null  int64
 63  Number of marginal workers  who worked for 3 to 6 months                               606678 non-null  int64
 64  Number of male marginal workers  who worked for  3 to 6 months                         606678 non-null  int64
 65  Number of female marginal workers who worked for  3 to 6 months                        606678 non-null  int64
 66  Total Number of marginal workers as cultivators who worked for 3 to 6 months           606678 non-null  int64
 67  Number of male marginal workers as cultivators who worked for 3 to 6 months            606678 non-null  int64
 68  Number of female marginal workers as cultivators who worked for 3 to 6 months          606678 non-null  int64
 69  Number of marginal workers as agricultural labour who worked for 3 to 6 months         606678 non-null  int64
 70  Number of male marginal workers as agricultural labour who worked for 3 to 6 months    606678 non-null  int64
 71  Number of female marginal workers as agricultural labour who worked for 3 to 6 months  606678 non-null  int64
 72  Number of  marginal workers in household industry who worked for 3 to 6 months         606678 non-null  int64
 73  Number of male marginal workers in household industry who worked for 3 to 6 months     606678 non-null  int64
 74  Number of female marginal workers in household industry who  worked for 3 to 6 months  606678 non-null  int64
 75  Number of marginal workers as Other workers who worked for 3 to 6 months               606678 non-null  int64
 76  Number of male marginal workers as Other workers who worked for 3 to 6 months          606678 non-null  int64
 77  Number of female marginal workers as Other workers who worked for 3 to 6 months        606678 non-null  int64
 78  Number of marginal workers  who worked for 0 to 3 months                               606678 non-null  int64
 79  Number of male marginal workers  who worked for 0 to 3 months                          606678 non-null  int64
 80  Number of female marginal workers  who worked for 0 to 3 months                        606678 non-null  int64
 81  Number of marginal workers as cultivators who worked for 0 to 3 months                 606678 non-null  int64
 82  Number of male marginal workers as cultivators who worked for 0 to 3 months            606678 non-null  int64
 83  Number of female marginal workers as cultivators who worked for 0 to 3 months          606678 non-null  int64
 84  Total nuumber of marginal workers as agricultural labour who worked for 0 to 3 months  606678 non-null  int64
 85  Number of male marginal workers in agricultural labour who  worked for 0 to 3 months   606678 non-null  int64
 86  Number of female marginal workers as agricultural labour who worked for 0 to 3 months  606678 non-null  int64
 87  Number of marginal workers in household industry who worked for 0 to 3 months          606678 non-null  int64
 88  Number of male marginal workers in household industry who  worked for 0 to 3 months    606678 non-null  int64
 89  Number of female marginal workers in household industry who  worked for 0 to 3 months  606678 non-null  int64
 90  Number of marginal workers as Other workers who worked for 0 to 3 months               606678 non-null  int64
 91  Number of male marginal workers as Other workers who worked for 0 to 3 months          606678 non-null  int64
 92  Number of female marginal workers as Other workers who worked for 0 to 3 months        606678 non-null  int64
 93  Number of Non workers                                                                  606678 non-null  int64
 94  Number of male Non workers                                                             606678 non-null  int64
 95  Number of female Non workers                                                           606678 non-null  int64
 96  Source Year                                                                            606678 non-null  int64
 97  YearCode                                                                               606678 non-null  int64
 98  Year                                                                                   606678 non-null  object
dtypes: int64(92), object(7)
memory usage: 458.2+ MB

In [36]:
population_data.describe()

,ROWID,State lgd code,District lgd code,Sub-District lgd Code,ULB_RLB_Village lgd Code,Households,Population,Male population,Female population,Population in the age group 0 to 6 years,...,Number of male marginal workers in household industry who worked for 0 to 3 months,Number of female marginal workers in household industry who worked for 0 to 3 months,Number of marginal workers as Other workers who worked for 0 to 3 months,Number of male marginal workers as Other workers who worked for 0 to 3 months,Number of female marginal workers as Other workers who worked for 0 to 3 months,Number of Non workers,Number of male Non workers,Number of female Non workers,Source Year,YearCode
count,606678.000000,606678.000000,606678.000000,606678.000000,6.066780e+05,6.066780e+05,6.066780e+05,6.066780e+05,6.066780e+05,606678.000000,...,606678.000000,606678.000000,606678.000000,606678.000000,606678.000000,6.066780e+05,6.066780e+05,6.066780e+05,606678.0,606678.0
mean,303339.500000,17.064497,511.567769,5700.352512,3.492938e+05,4.112667e+02,1.995919e+03,1.027371e+03,9.685476e+02,271.178493,...,0.810029,1.531165,9.096298,5.081228,4.015071,1.201596e+03,4.802158e+02,7.213806e+02,2011.0,2011.0
std,175132.997643,8.744970,13882.633116,53939.976250,4.833640e+05,5.862372e+03,2.604993e+04,1.374536e+04,1.231699e+04,2798.372265,...,7.590597,11.554068,101.202722,69.174502,35.182025,1.608545e+04,5.884520e+03,1.021039e+04,0.0,0.0
min,1.000000,1.000000,1.000000,1.000000,1.000000e+00,1.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000e+00,0.000000e+00,0.000000e+00,2011.0,2011.0
25%,151670.250000,9.000000,153.000000,958.000000,1.630792e+05,7.600000e+01,3.760000e+02,1.900000e+02,1.850000e+02,52.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,1.900000e+02,8.400000e+01,1.020000e+02,2011.0,2011.0
50%,303339.500000,19.000000,323.000000,2608.000000,3.280575e+05,1.690000e+02,8.490000e+02,4.340000e+02,4.145000e+02,120.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,4.630000e+02,1.970000e+02,2.620000e+02,2011.0,2011.0
75%,455008.750000,23.000000,461.000000,3988.750000,4.911228e+05,3.470000e+02,1.751000e+03,8.990000e+02,8.520000e+02,253.000000,...,0.000000,0.000000,4.000000,2.000000,1.000000,1.005000e+03,4.210000e+02,5.860000e+02,2011.0,2011.0
max,606678.000000,38.000000,999999.000000,999999.000000,9.803758e+06,2.105604e+06,9.356962e+06,5.031323e+06,4.325639e+06,930884.000000,...,1848.000000,2386.000000,31423.000000,23132.000000,10425.000000,5.621941e+06,2.087001e+06,3.534940e+06,2011.0,2011.0

In [37]:
population_data.columns

Index(['ROWID', 'Country', 'State lgd code', 'State', 'District lgd code',
       'District', 'Sub-District lgd Code', 'Sub-District',
       'ULB_RLB_Village lgd Code', 'ULB_RLB_Village', 'Rural or Urban',
       'Households', 'Population', 'Male population', 'Female population',
       'Population in the age group 0 to 6 years',
       'Male Population in the age group 0 to 6 years',
       'Female Population in the age group 0 to 6 years',
       'Scheduled Caste population', 'Male Scheduled Caste population',
       'Female Scheduled Caste population ', 'Scheduled Tribe population',
       'Male Scheduled Tribe population', 'Female Scheduled Tribe population ',
       'Literate population ', 'Male literate population',
       'Female literate population ', 'Illiterate population',
       'Male illiterate population ', 'Female illiterate population ',
       'Working population', 'Male working population',
       'Female Woking population', 'Number of main workers',
       'Number of male main workers', 'Number of female main worker',
       'Number of main workers as cultivators',
       'Number of male main workers as cultivators',
       'Number of female main workers as cultivators',
       'Number of main workers as agricultural labourers',
       'Number of male main workers as agricultural labourers',
       'Number of female main workers as agricultural labourers',
       'Number of main workers in the household industry',
       'Number of male main workers in the household industry',
       'Number of female main workers in the household industry',
       'Number of  main workers as Other workers',
       'Number of male main workers as Other workers',
       'Number of female main workers as Other workers',
       'Number of marginal workers', 'Number of male marginal workers',
       'Number of female marginal workers',
       'Number of marginal workers as cultivators',
       'Number of male marginal workers as cultivators',
       'Number of female marginal workers as cultivators',
       'Number of marginal workers as agricultural labourers',
       'Number of male marginal workers as agricultural labourers',
       'Number of female marginal workers as agricultural labourers',
       'Number of marginal workers in the household industry',
       'Number of male marginal workers in the household industry',
       'Number of female marginal workers in the household industry',
       'Number of marginal workers as Other workers',
       'Number of male marginal workers as Other workers',
       'Number of female marginal workers as Other workers',
       'Number of marginal workers  who worked for 3 to 6 months',
       'Number of male marginal workers  who worked for  3 to 6 months',
       'Number of female marginal workers who worked for  3 to 6 months',
       'Total Number of marginal workers as cultivators who worked for 3 to 6 months',
       'Number of male marginal workers as cultivators who worked for 3 to 6 months',
       'Number of female marginal workers as cultivators who worked for 3 to 6 months',
       'Number of marginal workers as agricultural labour who worked for 3 to 6 months',
       'Number of male marginal workers as agricultural labour who worked for 3 to 6 months',
       'Number of female marginal workers as agricultural labour who worked for 3 to 6 months',
       'Number of  marginal workers in household industry who worked for 3 to 6 months',
       'Number of male marginal workers in household industry who worked for 3 to 6 months',
       'Number of female marginal workers in household industry who  worked for 3 to 6 months',
       'Number of marginal workers as Other workers who worked for 3 to 6 months',
       'Number of male marginal workers as Other workers who worked for 3 to 6 months',
       'Number of female marginal workers as Other workers who worked for 3 to 6 months',
       'Number of marginal workers  who worked for 0 to 3 months',
       'Number of male marginal workers  who worked for 0 to 3 months',
       'Number of female marginal workers  who worked for 0 to 3 months',
       'Number of marginal workers as cultivators who worked for 0 to 3 months',
       'Number of male marginal workers as cultivators who worked for 0 to 3 months',
       'Number of female marginal workers as cultivators who worked for 0 to 3 months',
       'Total nuumber of marginal workers as agricultural labour who worked for 0 to 3 months',
       'Number of male marginal workers in agricultural labour who  worked for 0 to 3 months',
       'Number of female marginal workers as agricultural labour who worked for 0 to 3 months',
       'Number of marginal workers in household industry who worked for 0 to 3 months',
       'Number of male marginal workers in household industry who  worked for 0 to 3 months',
       'Number of female marginal workers in household industry who  worked for 0 to 3 months',
       'Number of marginal workers as Other workers who worked for 0 to 3 months',
       'Number of male marginal workers as Other workers who worked for 0 to 3 months',
       'Number of female marginal workers as Other workers who worked for 0 to 3 months',
       'Number of Non workers', 'Number of male Non workers',
       'Number of female Non workers', 'Source Year', 'YearCode', 'Year'],
      dtype='object')

In [38]:
population_data.shape #number of rows and column as a tuple

(606678, 99)

In [45]:
print(population_data.State[:3])
print(population_data.loc[4])
new_data=population_data[['State','District lgd code']] #this new_data is a view of original data so any change in this data will also affect the original data
print(new_data) #if we want a copy we can use .copy() func

0    GUJARAT
1    GUJARAT
2     ODISHA
Name: State, dtype: object
ROWID                                                      4150
Country                                                   India
State lgd code                                                1
State                                         JAMMU AND KASHMIR
District lgd code                                             3
                                             ...
Number of male Non workers                                    1
Number of female Non workers                                  2
Source Year                                                2011
YearCode                                                   2011
Year                            Calendar Year (Jan - Dec), 2011
Name: 4, Length: 99, dtype: object
                    State  District lgd code
0                 GUJARAT                442
1                 GUJARAT                459
2                  ODISHA                350
3             UTTARAKHAND                 54
4       JAMMU AND KASHMIR                  3
...                   ...                ...
606673          TELANGANA                698
606674          TELANGANA                698
606675          TELANGANA                699
606676             LADAKH                  6
606677             LADAKH                  9

[606678 rows x 2 columns]

In [47]:
population_data.head(3) #use .tail() for the values from the end

,ROWID,Country,State lgd code,State,District lgd code,District,Sub-District lgd Code,Sub-District,ULB_RLB_Village lgd Code,ULB_RLB_Village,...,Number of female marginal workers in household industry who worked for 0 to 3 months,Number of marginal workers as Other workers who worked for 0 to 3 months,Number of male marginal workers as Other workers who worked for 0 to 3 months,Number of female marginal workers as Other workers who worked for 0 to 3 months,Number of Non workers,Number of male Non workers,Number of female Non workers,Source Year,YearCode,Year
0,585,India,24,GUJARAT,442,BHARUCH,999999,Unknown SubDistricts of India,9802612,Valia (Naldhari) (INA),...,0,0,0,0,0,0,0,2011,2011,"Calendar Year (Jan - Dec), 2011"
1,637,India,24,GUJARAT,459,SURAT,3937,Majura,802631,Surat,...,0,0,0,0,0,0,0,2011,2011,"Calendar Year (Jan - Dec), 2011"
2,1498,India,21,ODISHA,350,CUTTACK,2954,Choudwar,399316,Industrial Area (OG),...,0,0,0,0,1,1,0,2011,2011,"Calendar Year (Jan - Dec), 2011"

In [50]:
dist_lgd_code=population_data['District lgd code']>500
print(dist_lgd_code)
print(population_data[dist_lgd_code]) #takes in the boolean series and it is passed as an index to retrieve those rows

0         False
1         False
2         False
3         False
4         False
          ...
606673     True
606674     True
606675     True
606676    False
606677    False
Name: District lgd code, Length: 606678, dtype: bool
         ROWID Country  State lgd code              State  District lgd code  \
66      323487   India               1  JAMMU AND KASHMIR                627
71      328949   India              12  ARUNACHAL PRADESH                628
108     439315   India              28     ANDHRA PRADESH                504
117     451365   India              33         TAMIL NADU                573
118     453723   India              15            MIZORAM                728
...        ...     ...             ...                ...                ...
606671  367547   India              36          TELANGANA                696
606672  292249   India              36          TELANGANA                696
606673  550918   India              36          TELANGANA                698
606674  279202   India              36          TELANGANA                698
606675   45447   India              36          TELANGANA                699

                      District  Sub-District lgd Code Sub-District  \
66                       REASI                   6741        Katra
71                       ANJAW                   1743     Hawai HQ
108                     Y.S.R.                   5226      Chennur
117                      ERODE                   5753        Erode
118                   KHAWZAWL                   1907     Khawzawl
...                        ...                    ...          ...
606671                SURYAPET                   4638     Suryapet
606672                SURYAPET                   4643     Penpahad
606673               VIKARABAD                   4539  Kulkacharla
606674               VIKARABAD                   4541        Pudur
606675  KUMURAM BHEEM ASIFABAD                   4318   Kagaznagar

        ULB_RLB_Village lgd Code ULB_RLB_Village  ...  \
66                        800060   PURANA DAROOR  ...
71                       9801449      Hawai (NT)  ...
108                       802998        Cuddapah  ...
117                       803553         Unjalur  ...
118                       801509         Khawhai  ...
...                          ...             ...  ...
606671                    576947         Ramaram  ...
606672                    577025  Mohammadapuram  ...
606673                    574602      Mujahidpur  ...
606674                    574685     Sirgaipalle  ...
606675                    569470         Jambuga  ...

       Number of female marginal workers in household industry who  worked for 0 to 3 months  \
66                                                      0
71                                                      0
108                                                     5
117                                                     0
118                                                     0
...                                                   ...
606671                                                  0
606672                                                  0
606673                                                  1
606674                                                  0
606675                                                  0

        Number of marginal workers as Other workers who worked for 0 to 3 months  \
66                                                      0
71                                                      1
108                                                    18
117                                                     4
118                                                     1
...                                                   ...
606671                                                  1
606672                                                  1
606673                                                 10
606674                                                  0
606675                                                  0

        Number of male marginal workers as Other workers who worked for 0 to 3 months  \
66                                                      0
71                                                      1
108                                                    12
117                                                     2
118                                                     0
...                                                   ...
606671                                                  1
606672                                                  1
606673                                                  5
606674                                                  0
606675                                                  0

        Number of female marginal workers as Other workers who worked for 0 to 3 months  \
66                                                      0
71                                                      0
108                                                     6
117                                                     2
118                                                     1
...                                                   ...
606671                                                  0
606672                                                  0
606673                                                  5
606674                                                  0
606675                                                  0

        Number of Non workers  Number of male Non workers  \
66                        493                         202
71                        512                         213
108                      1005                         471
117                       977                         404
118                      1088                         507
...                       ...                         ...
606671                    715                         352
606672                    498                         251
606673                   2739                        1488
606674                    477                         247
606675                     47                          20

        Number of female Non workers  Source Year  YearCode  \
66                               291         2011      2011
71                               299         2011      2011
108                              534         2011      2011
117                              573         2011      2011
118                              581         2011      2011
...                              ...          ...       ...
606671                           363         2011      2011
606672                           247         2011      2011
606673                          1251         2011      2011
606674                           230         2011      2011
606675                            27         2011      2011

                                   Year
66      Calendar Year (Jan - Dec), 2011
71      Calendar Year (Jan - Dec), 2011
108     Calendar Year (Jan - Dec), 2011
117     Calendar Year (Jan - Dec), 2011
118     Calendar Year (Jan - Dec), 2011
...                                 ...
606671  Calendar Year (Jan - Dec), 2011
606672  Calendar Year (Jan - Dec), 2011
606673  Calendar Year (Jan - Dec), 2011
606674  Calendar Year (Jan - Dec), 2011
606675  Calendar Year (Jan - Dec), 2011

[110234 rows x 99 columns]

In [55]:
population_data.sort_values('District lgd code' , ascending=False).tail(3)

,ROWID,Country,State lgd code,State,District lgd code,District,Sub-District lgd Code,Sub-District,ULB_RLB_Village lgd Code,ULB_RLB_Village,...,Number of female marginal workers in household industry who worked for 0 to 3 months,Number of marginal workers as Other workers who worked for 0 to 3 months,Number of male marginal workers as Other workers who worked for 0 to 3 months,Number of female marginal workers as Other workers who worked for 0 to 3 months,Number of Non workers,Number of male Non workers,Number of female Non workers,Source Year,YearCode,Year
324741,202384,India,1,JAMMU AND KASHMIR,1,ANANTNAG,6822,Anantnag East,3658,Mati Pora,...,1,11,0,11,307,161,146,2011,2011,"Calendar Year (Jan - Dec), 2011"
213713,366069,India,1,JAMMU AND KASHMIR,1,ANANTNAG,58,Dooru,3854,Guchan,...,0,2,0,2,795,435,360,2011,2011,"Calendar Year (Jan - Dec), 2011"
585649,332381,India,1,JAMMU AND KASHMIR,1,ANANTNAG,6822,Anantnag East,3665,Paibugh,...,1,0,0,0,566,262,304,2011,2011,"Calendar Year (Jan - Dec), 2011"